.button-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 80px;
  width: 60%;
  padding: 0;
  
}

.button-container .btn.pri,
.button-container .btn.sec {
  height: 60px;
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--silver-color);
  transition: all .2s ease-in-out;
  overflow: hidden;
  box-shadow: inset 0 0 10px var(--red-color);
  border-radius: 10px;
}

.button-container .btn.pri:hover,
.button-container .btn.sec:hover {
  border: none;
  box-shadow: 1px 2px 3px var(--red-color);
  color: var(--white-color);
  font-weight: 100;
}

@media screen and (max-width: 768px) {

  .button-container {
    display: flex;
    justify-content: space-around;
    padding: 2px 40px;
  }
  .button-container .btn.pri,
  .button-container .btn.sec {
    
    width: 120px;
    height: 50px;
    border-radius: 5px;
  }
}

@media screen and (max-width: 490px) {

  .button-container {
    display: flex;
    justify-content: space-around;
    padding: 2px 40px;
  }
  .button-container .btn.pri,
  .button-container .btn.sec {
    
    width: 90px;
    height: 40px;
    border-radius: 5px;
  }
}