.home-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-top: 10px;
}

.home-container h2  {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 60%;
  margin-top: 50px;
}

.home-container h2 span {
  font-size: 50px;
  font-weight: 400;
  font-family: var(--font-text);
  color: var(--white-color);
  margin-top: 40px;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--red-color);
}

.home-container h2 p {
  font-size: 24px;
  line-height: 28px;
  color: var(--silver-color);
  opacity: .5;
  font-weight: 100px;
  margin-top: 1px;
}

.home-container .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-user-select: none;
  user-select: none;
  position: inherit;
  margin-top: -50px;
  height: 520px;
}

.home-container .logo .main-img {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  cursor: pointer;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.home-container .logo .main-img.active {
  animation: spin 50s linear 1s infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
} 

.home-container .logo .circle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  transition: all .5s ease-in-out;
  opacity: 0;
}

.home-container .logo .main-img.active .circle {
  opacity: 1;
}

.home-container .logo .main-img.active .circle:nth-child(1) {
  background:url(../props/image1.jpg);
  background-size: cover;
  background-position: center;
  position: absolute;
  transform: translateY(-210%);
  
}

.home-container .logo .main-img.active .circle:nth-child(2) {
  background: url(../props/pic2.jpg);
  background-size: cover;
  background-position: center;
  position: absolute;
  transform: translate(150%, -150%);
  
}
  
.home-container .logo .main-img.active .circle:nth-child(3) {
  background: url(../props/pic3.jpg);
  background-size: cover;
  background-position: center;
  position: absolute;
  transform: translate(210%);
  
}

.home-container .logo .main-img.active .circle:nth-child(4) {
  background: url(../props/pic4.jpg);
  background-size: cover;
  background-position: center;
  position: absolute;
  transform: translate(150%, 150%);
  
}

.home-container .logo .main-img.active .circle:nth-child(5) {
  background: url(../props/pic5.jpg);
  background-size: cover;
  background-position: center;
  position: absolute;
  transform: translateY(210%);
  
}

.home-container .logo .main-img.active .circle:nth-child(6) {
  background: url(../props/zdj\ \(1\).jpg);
  background-size: cover;
  background-position: center;
  position: absolute;
  transform: translate(-150%, 150%);
  
}

.home-container .logo .main-img.active .circle:nth-child(7) {
  background: url(../props/pic1.jpg);
  background-size: cover;
  background-position: center;
  position: absolute;
  transform: translate(-150%, -150%);
  
}

.home-container .logo .main-img.active .circle:nth-child(8) {
  background: url(../props/pic6.jpg);
  background-size: cover;
  background-position: center;
  position: absolute;
  transform: translateX(-210%);
  
}


.home-container img {
  position: absolute;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;

  
  transform: translate(400px);
  opacity: 0;
  animation: fade-in 1s ease-in-out 1 .5s forwards;
}

@keyframes fade-in {
  to {
    transform: translate(0);
    opacity: 1;
  }
}

.scroll-down {
  position: absolute;
  display: flex;
  right: 0;
  transform: rotate(90deg);
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.scroll-down hr {
  background-color: var(--red-color);
  width: 30px;
  height: 5px;
  border-radius: 10px;
}

.scroll-down h5 {
  font-size: 22px;
  font-family: var(--font-text);
  color: var(--white-color);
  font-weight: 200;
  text-transform: capitalize;
}

.scroll-icon {
  transform: rotate(-90deg);
  font-size: 46px;
  color: var(--silver-color);
  font-weight: 100;
}

@media screen and (max-width: 490px) {

 
  .home-container img {
    width: 110px;
    height: 110px;
  }

  .home-container .logo .main-img.active span {
    width: 50px;
    height: 50px;
  }

  .scroll-down {
    right: -30px;
  }

  .scroll-down h5 {
    font-size: 14px;
  }

  .scroll-icon {
    font-size: 22px;
  }

  .home-container h2 span {
    font-size: 22px;
    margin-top: -10px;
  }

   .home-container h2 p {
    font-size: 18px;
    padding: 5px 10px;
  }

}