.header-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  height: 40vh;
  margin-top: 20px;
  transform: translateY(-100%);
  opacity: 0;
  animation: fade-in 3s ease 1 forwards;
}

@keyframes fade-in {
  0%{
    transform: translateY(0);
    opacity: 1;
  }
}

h3 {
  font-family: var(--font-text);
  font-size: 60px;
  font-weight: 900;
  color: var(--white-color);
  margin-bottom: 30px;
}

p {
  font-size: 36px;
  font-family: var(--font-text);
  font-weight: 600;
  opacity: .6;
}

@media screen and (max-width: 490px) {

  .header-container {
    height: 200px;
  }
  h3 {
    font-size: 28px;
    margin-top: 30px;
  }

  p {
    font-size: 22px;
  }
}